<component name="ArtifactManager">
  <artifact type="exploded-war" name="mybatis01_a:war exploded">
    <output-path>D:/repository/mybatis01_a/target/mybatis01_a</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>mybatis01_a</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="mybatis01_a" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="D:/repository/mybatis01_a/target/mybatis01_a/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="mybatis01_a/web/Web" />
    </root>
  </artifact>
</component>